@font-face {
   font-family: 'FC Knomphing Bold Italic';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-09-27_164840/fonts/FC%20Knomphing%20Bold%20Italic/font.ttf');
}
